<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create</title>
    <div th:replace="partials :: header"></div>
</head>
<body>
<div th:replace="partials :: navbar"></div>
<div class="container">
<h1>Create Product</h1>

<form th:action="@{/product/create}" th:method="POST">

    <label for="name">Product Name</label>
    <input type="text" id="name" name="product_name" >

    <br>

    <label for="price">Price</label>
    <input type="number" id="price" name="product_price">

    <br>

    <label for="description">Description</label>
    <input type="text" id="description" name="product_description">

    <br>

<!--    this is where i dislplay the preview image.-->
<!--    note: if you dont specify the src, alt, width, or height the img will basically be hidden. -->
    <img id="imagePreview" src="" alt="" >

<!--    this is our hidden input field and this is what we want to actually pass our image url in. -->
    <input type="hidden" id="image" name="product_image_url">

<!--    This is the button a user will press if they want to open the filepicker -->
<!--    note: you might want to change the text in the button after -->
<!--    they have uploaded a image with the filepicker to "change picture" or file. -->
    <button id="addPicture">addPicture</button>

    <br>

    <input type="submit" value="Create Product">

</form>
</div>

<!-- We reference these files prior to the filestack.js because they need to be loaded into the page before filestack.js can use their contents.-->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/js/keys.js"></script>

<!-- we reference our filestack.js last because it is dependent on all three files above it.-->
<script src="/js/filestack.js"></script>


</body>
</html>