<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <div th:replace="partials :: header"></div>
</head>
<body>
<div th:replace="partials :: navbar"></div>
<div class="container">
<form th:action="@{'/product/'+ ${product.getId()} +'/delete'}" method="POST">

    <h3>Are sure you want to delete this?!</h3>

    <h4 th:text="${product.getName()}"></h4>

    <img th:src="${product.getImg()}" alt="img">

    <input value="Delete" type="submit">

</form>
</div>
</body>
</html>