<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create</title>
    <div th:replace="partials :: header"></div>
</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container">

    <!-- Page Content goes here -->

    <h1 class="center-align" >Product</h1>

    <h3 class="center-align" th:text="${product.name}"></h3>

    <p class="center-align" th:text="${product.description}" ></p>

    <p class="center-align" >$<span th:text="${product.price}"></span></p>

    <img class="center-align" width="200px" height="auto" th:src="${product.img}" alt="img">

    <a class="center-align" th:href="'/product/'+ ${product.id +'/edit'}">Edit</a>

    <a class="center-align" th:href="'/product/'+ ${product.id +'/delete'}">Delete</a>
</div>
</body>
</html>